Debug
Release
ReleaseMinDependency
Release Debuggable
CMakeFiles
build/CMakeFiles
build/luanode
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/temp
test/fixtures/keys/.rnd
test/fixtures/keys/ca2-database.txt
test/fixtures/keys/ca2-database.txt.attr
test/fixtures/keys/ca2-database.txt.old
src/Network_old
deps/libeio
deps/dirent.?
deps/win32fixes.c
LuaNode.deuser
*.rnd
*.o
*_i.h
*_i.c
*_p.c
*.dsw
*.user
*.tlh
*.tli
*.ncb
*.positions
*.suo
*.opt
*.vs*scc
*.precomp
*.sdf
